/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    /*
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    background-color: white;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}


.container {
  padding: 0px;
}

.hz-padding {
  padding-left: 15px;
  padding-right: 15px;

}

.row {
  margin-left: 0;
  margin-right: 0;
}

#energy-level {
  width: 100%;
}

.navbar {
  margin-bottom: 5px;
}

.centered-content {
  text-align: center;
}

#report-container {
  margin-top: 1em;
  padding-bottom: 40px;
  text-transform: none;
}

#report-container .mood-record {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

#report-container .mood-record:nth-child(odd) {
  background-color: #efefef;
}

#report-container .header {
  font-size: 1.4em;
  vertical-align: bottom;
}

#report-container .source {
  color: #999;
  font-size: .8em;
  text-transform: lowercase;
}

#report-container .time {
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: .8em;
  color: #999;
}

#report-container .thoughts {
  font-style: italic;
  padding-left: 10%;
}

.no-case {
  text-transform: none;
}

.action-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px;
  padding-top: 10px;
  width: 100%;
  background: white;
}

#complete {
  text-align: center;
  margin-top: 30%;
  display: none;
}

#complete p {
  font-size: 1.3em;
}

.full-width {
  width: 100%;
}
#moodForm {
  margin-top: 2em;
}
#thoughts {
  height: 4em;
}

#reminderForm {
  margin-top: 2em;
}

#reminderForm label {
  width: 30%;
}

.logo {
  text-align: center;
  margin-top: 1em;
}

#signup-form label {
  width: 30%;
}

nav {
  display: none;
}

.login-prompt {
  padding-top: 15px;
  margin-top: 35px;
  border-top: solid 2px #ccc;
  text-transform: none;

}

#reportForm .status {
  padding-left: 10px;
}

.fade-in {
  animation-duration: 0.5s;
  animation-name: fade;

  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: fade;
}

@keyframes fade {
    from { opacity: 0.0; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 0.0; }
    to { opacity: 1.0; }
}
